# Arrays
numpy
pandas
xarray

# subsurface
git+https://github.com/softwareunderground/subsurface.git@mig_dev
pyvista

# Server
flask
flask_restx
flask_cors
marshmallow
marshmallow_jsonschema
requests
pooch



# For well
git+https://github.com/Leguark/welly.git
git+https://github.com/Leguark/striplog.git


# Smart vp
scikit-learn
mysqlclient
sqlalchemy