numpy
pandas
xarray
subsurface
flask
flask_restx
flask_cors
marshmallow
marshmallow_jsonschema
requests
pooch

# For well data
git+https://github.com/Leguark/welly.git
git+https://github.com/Leguark/striplog.git

scikit-learn
mysqlclient
sqlalchemy